<h4 style="margin: 45px 0 -25px;">Click on a topic to show further information.</h4>
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" style="margin-top: 40px;">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="blockchain_general">
      <h2 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          About Blockchain
        </a>
      </h2>
    </div>
    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="blockchain_general">
      <div class="panel-body">
        <p>The blockchain are cryptographically linked and decentrally stored datasets. Each dataset contains a fingerprint (hash value) of the previous dataset, a time stamp and further transaction data. Because later sets build on previous sets and confirm them as correct, it is impossible to change or delete those earlier sets without changing all the data that builds on them. However, such a change is not possible due to the distributed storage of the data and would be recognized immediately.</p>
        <p>Sealing documents uses this guaranteed data integrity property of the blockchain.</p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="blockchain_ARTIS">
      <h2 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOneARTIS" aria-expanded="true" aria-controls="collapseOneARTIS">
          About ARTIS
        </a>
      </h2>
    </div>
    <div id="collapseOneARTIS" class="panel-collapse collapse" role="tabpanel" aria-labelledby="blockchain_ARTIS">
      <div class="panel-body">
        <p>The <a href="https://artis.eco/en/" target="_blank">ARTIS Network</a> is an easy-to-use public blockchain system that is built with sustainability in mind by doing away with energy-intensive mining. As an Ethereum sidechain, the ARTIS Network is using the performant Parity-node software which has WebAssembly enabled – allowing every smart contract to be developed with outstanding security using Rust, C or C++. Existing DApps can migrate or use several blockchains in parallel, whatever is preferred and more suitable.</p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="blockchain_open_source">
      <h2 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Free and Open Source Blockchain Service
        </a>
      </h2>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="blockchain_open_source">
      <div class="panel-body">
        <p>The Public Charity to Foster Personal Use of Data has set itself the goal of promoting the self-determined use of personal data by private individuals. Blockchain technology provides nowadays a simple and secure way to verify data integrity for private data use, and therefore the Public Charity offers this service. By combining transactions - current grouping all transactions of a day - the necessary transaction costs can be kept low and are covered by the budget of the Public Charity.</p>
        <p>On Github the source code for this website is freely available under the MIT license: <a href="https://github.com/OwnYourData/app-seal">https://github.com/OwnYourData/app-seal</a></p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="blockchain_api">
      <h2 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Blockchain API
        </a>
      </h2>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="blockchain_api">
      <div class="panel-body">
        <p>The document sealing service uses a freely accessible API in the background, which can also be used by other services. By means of an HTTP POST request the hash value can be written to the blockchain, or - if the hash value has already been used - the address in the blockchain is returned. Since all hash values of a day are combined in a Merkle tree, the audit proof is made available in addition to the address in the blockchain (as described in <a href="https://tools.ietf.org/html/rfc6962">RFC 6962</a>).</p>
        <p>This API is described using Swagger here: <a href="https://artis.ownyourdata.eu/doc">https://artis.ownyourdata.eu/doc</a><br>
        On Github, the source code for the API service is freely available under the MIT license:</p>
        <ul>
          <li>high-level API: <a href="https://github.com/OwnYourData/api-blockchain">https://github.com/OwnYourData/api-blockchain</a></li>
          <li>Blockchain service: <a href="https://github.com/OwnYourData/service-blockchain/tree/master/docker/srv-artis">https://github.com/OwnYourData/service-blockchain/tree/master/docker/srv-artis</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="blockchain_api_samples">
      <h2 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          Blockchain API Examples
        </a>
      </h2>
    </div>
    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="blockchain_api_samples">
      <div class="panel-body">
        <p>Use the following shell command to save a hash value via API in the blockchain:<br>
          <pre>$ curl -X POST "https://artis.ownyourdata.eu/api/doc?hash=006748c21efaf8fe67b833d82cba7955619c3c3b06e11ed6562fbf6a1cb06f2c"</pre></p>
        <p>The first call returns the following JSON structure as the return value:<br>
          <pre>{
  "status": "new",
  "address": "",
  "root-node": "",
  "audit-proof": [],
  "dlt-timestamp": "",
  "oyd-timestamp": "2018-09-01T22:39:16Z"
}</pre></p>
        <p>Once all hash values of a day have actually been written to the blockchain, the return value contains the following further information:<br>
          <pre>{
  "status": "exist",
  "address": "0xcf4a0cf4b9ea6d10c0407680fe1f73df1a59c362db29a1863e14d85fcdb69c9c",
  "root-node": "10611bc55c740b46517ce15ad82b79350468affc4660379771475eaa494ec3fd",
  "audit-proof": "+661eec906b6a88b3bf751d7f5c62b84de03fadaed78e9398efebf408b2a3236c,
                  -0cdf07531250367444ae8a3bfcbb0b928e1313ece65f2a45abcc2226e278d6cd,
                  -5cbe1017c15d83ce8f4c02b4c1d8d2fa0c51bbe281363d98ef7dc33ffe26a072",
  "dlt-timestamp": "2018-09-02T06:00:17Z",
  "oyd-timestamp": "2018-09-01T22:39:16Z"
}</pre></p>
        <p>Note: the signs (+, -) in the <code>audit-proof</code> field indicate whether the respective hash value should be considered as the left (+) or right (-) node in the root node calculation check - see also <a href="https://tools.ietf.org/html/rfc6962">RFC 6962</a>. SHA256 is generally used as the hash function.</p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="merkle_tree">
      <h2 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
          About Merkle Trees
        </a>
      </h2>
    </div>
    <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="merkle_tree">
      <div class="panel-body">
        <p>A Merkle tree is a binary tree, i.e., each node has at most 2 child nodes. The leaves are hash values and each 2 adjacent nodes form a higher-level node. The hash value of a sheet, together with the audit proof (as defined in <a href="https://tools.ietf.org/html/rfc6962">RFC 6962</a>) unambigously identify the root node of a merkle tree. When using the audit proof, it is important to specify whether the hash value is to be used as left or right node.</p>
        <p>This service identifies values in the audit proof by + (left node) and - (right node) as first character. Together with the hash value, the root node can be calculated this way. The procedure of the Merkle tree is used to arrange all received hash values of a day in this binary tree and then store only the root node itself in the blockchain.</p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="trusted_timestamp">
      <h2 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
          About Trusted Timestamping
        </a>
      </h2>
    </div>
    <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="trusted_timestamp">
      <div class="panel-body">
        <p>Trusted timestamping is the process of securely keeping track of the date and status of a document. Security here means that no one - not even the owner of the document - is able to change the timestamp once it has been recorded. The timestamp offered here follows the standard <a href="https://www.ietf.org/rfc/rfc3161.txt" target="_blank">RFC 3161</a> and can be applied to time-sensitive transactions through independently verified and auditable date and UTC (Coordinated Universal Time) sources.</p>
        <p>Adding a trusted timestamp to a document provides a digital seal of data integrity and a trusted date and time of when the transaction took place. Recipients of documents and code with a trusted timestamp can verify when the document was digitally or electronically signed, as well as verify that the document or code was not altered after the date the timestamp vouches for.</p>
      </div>
    </div>
  </div>
</div>
