<%= link_to t('general.back'), "/" + I18n.locale.to_s + "/" %>
<h2>Häufige Fragen</h2>

<h4>Gibt es eine API, um gratis Werte in die Blockchain zu schreiben?</h4>
Ja, die Beschreibung ist hier verfügbar: <a href="https://blockchain.ownyourdata.eu/doc">https://blockchain.ownyourdata.eu/doc</a>

<h4>Ist der Quellcode für dieses Service verfügbar?</h4>
Ja, der grundlegende Service zum Lesen und Schreiben der Blockchain ist hier verfügbar: <a href="https://github.com/OwnYourData/service-blockchain">Github</a> (<a href="https://hub.docker.com/r/oydeu/srv-blockchain/">Docker image</a>)<br>
die high-level API: <a href="https://github.com/OwnYourData/api-blockchain">Github</a> (<a href="https://hub.docker.com/r/oydeu/api-blockchain/">Docker image)</a><br>
diese Webseite: <a href="https://github.com/OwnYourData/app-seal">Github</a> (<a href="https://hub.docker.com/r/oydeu/app-seal/">Docker image)</a>

<p>&nbsp;</p>
<p><%= link_to t('general.back'), "/" + I18n.locale.to_s + "/" %></p>
