<%= link_to t('general.back'), "/" + I18n.locale.to_s + "/" %>
<h2>Frequently Asked Questions</h2>

<h4>Why is this service free?</h4>
The <em>Public Charity to foster personal use of data</em> offers this service for free to enable everyone to benefit from blockchain technology.

<h4>Is there an API for writing values to the blockchain for free?</h4>
Yes, the documentation is available here: <a href="https://blockchain.ownyourdata.eu/doc">https://blockchain.ownyourdata.eu/doc</a>

<h4>Is the source code for this service available?</h4>
Yes, the basic service to read and write from the blockchain is available here: <a href="https://github.com/OwnYourData/service-blockchain">Github</a> (<a href="https://hub.docker.com/r/oydeu/srv-blockchain/">Docker image</a>)<br>
the high-level API: <a href="https://github.com/OwnYourData/api-blockchain">Github</a> (<a href="https://hub.docker.com/r/oydeu/api-blockchain/">Docker image)</a><br>
this web page: <a href="https://github.com/OwnYourData/app-seal">Github</a> (<a href="https://hub.docker.com/r/oydeu/app-seal/">Docker image)</a>

<p>&nbsp;</p>
<p><%= link_to t('general.back'), "/" + I18n.locale.to_s + "/" %></p>
