@import "bootstrap-sprockets";
@import "bootstrap";

#drop-area {
  border: 2px dashed #ccc;
  border-radius: 10px;
  width: 100%;
  font-family: sans-serif;
  margin-top: 10px;
  padding: 20px;
}
#drop-area.highlight {
  border-color: purple;
  background-color: lightgray;
}
p {
  margin-top: 0;
}
.drag-form {
  margin-bottom: 10px;
}
.button {
  display: inline-block;
  padding: 10px;
  background: #ccc;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.button:hover {
  background: #ddd;
}
#fileElem {
  display: none;
}
